# Default ignored files
/avatar_images/
/temporary/
/upload_folder/
/css/fontawesome/
/css/fontawesome-free-6.2.0-web/
/css/backgrounds/mountains_for_Weblogins.jpg
/css/backgrounds/for_Weblogins.jpg
/css/backgrounds/for_Weblogins.jpg
/js/jquery.js
/js/test.js
