body{
    font-family: 'Roboto', 'Noto', sans-serif;
}

#post_flow{
    margin-left: max(50px, 7vw);
}

.date-date-separator{
    margin-top: min(5vh, 50px);
    font-size: xx-large;
}

.no-subscriptions-info{
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: x-large;
    width: fit-content;
    margin-top: 10vh;
}

.ln-dates-sep{
    border-bottom: 1px solid gray;
    width: 80vw;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;
}




#content{
    margin-left: max(30px, 2vw)
}

.content-post-container{
    margin-bottom: 4vh;
}

.post-iframe{
    width: 50vw;
    max-width: 550px;
    height: 80vh;
}

.content-post-info{
    display: inline-block;
    vertical-align: top;
    margin-left: 3vw;
    width: 30vw;
}

.content-post-info-grid{
    display: grid;
    grid-template-columns: 70% 25%;
}

.post-info-number{
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
}

.post-tags-wrapper{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.post-tags-summary{
    cursor: pointer;
}

.post-tag{
    line-height: 20px;
    font-size: large;
    margin-top: 3px;
    margin-bottom: 3px;
}

@media(max-width: 800px){
    .content-post-container{
        width: 65vw;
    }
    .post-iframe{
        width: 85vw;
    }
    .content-post-info{
        display: block;
        width: 100%;
    }
}
