/**@media (max-width: 2100px){
    .preview{
        display: block;
    }
    #latest_posts{
        display: inline-block;
        max-width: 500px;
        margin-right: 10px;
    }
    #latest_posts h2{
        text-align: center;
    }
    #latest_subscribed_to_posts{
        width: 100%;
    }
    .for_preview{
        max-width: 70%;
        display: block;
        flex-wrap: wrap;
    }
    .table_cell{
        display: block;
        margin-right: 1%;
    }
}
@media (max-width: 1500px){
    #latest_posts{
        display: block;
        width: 100%;
    }
    #latest_subscribed_to_posts{
        display: inline-block;
        vertical-align: top;
        width: 40%;
    }
    #subscribe{
        width: 30%;
    }
    .vertical_line3{
        display: none;
    }
}
@media (max-width: 1400px){
    .for_preview{
        max-width: 50%;
    }
}
@media (max-width: 1200px){
    #subscribe{
        display: block;
        width: 90%;
    }
    .vertical_line2{
        display: none;
    }
    #latest_subscribed_to_posts{
        width: 80%;
    }
    .preview{
        width: 30%;
    }
    .for_preview{
        display: inline-flex;
        width: 20%;
        margin-right: 5%;
    }
    .table_cell{
        display: inline-flex;
        margin-bottom: 2%;
    }
}
@media (max-width: 800px){
    #latest_subscribed_to_posts{
        display: none;
    }
    #latest_subscribed_to_posts_little_screen{
        display: block;
        width: 100%;
        align-content: center;
        align-items: center;
    }
    .table_cell{
        display: inline-flex;
        margin-right: auto;
        margin-left: 10%;
        align-self: center;
        width: 30%;
    }
    .post_name{
        display: block;
        max-width: 200px;
        word-break: break-all;
    }
    .person_name1{
        font-size: smaller;
        font-family: 'FontAwesome';
    }
}
@media (max-width: 767px){
    #latest_subscribed_to_posts{
        display: none;
    }
    #latest_subscribed_to_posts_little_screen{
        display: block;
        width: 100%;
    }
    #latest_subscribed_to_posts_little_screen h2{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .table_cell{
        display: inline-flex;
        margin-left: 10%;
        width: 30%;
    }
    .post_name{
        display: block;
        max-width: 200px;
        word-break: break-all;
    }
    .person_name1{
        font-size: smaller;
        font-family: 'FontAwesome';
    }
}
@media (max-width: 560px){
    #latest_subscribed_to_posts{
        display: none;
    }
    #latest_subscribed_to_posts_little_screen{
        display: block;
        width: 100%;
        align-items: unset;
        align-content: unset;
    }
    #latest_subscribed_to_posts_little_screen h2{
        margin-left: 1%;
        display: block;
        width: 70%;
    }
    #subscribe{
        width: 80%;
    }
    #latest_posts{
        display: block;
        max-width: 100%;
        word-break: break-all;
    }
    .all_comments1{
        font-size: medium;
        display: block;
        width: 80%;
        word-break: break-all;
    }
    .table_cell{
        display: block;
        width: 30%;
    }
    .post_name{
        display: block;
        width: 300px;
        word-break: break-all;
    }
    .person_name1{
        font-size: smaller;
        font-family: 'FontAwesome';
    }
}

    @media (max-width: 600px){
    #latest_subscribed_to_posts_little_screen{
        display: block;
        width: 90%;
        text-align: center;
    }
    #latest_subscribed_to_posts_little_screen h2{
        text-align: center;
        margin-left: auto;
        margin-left: 20%;
        display: block;
    }
}


#preview{
    width: 250px;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.for_preview{
    word-break: break-all;
}
.horizontal_line2{
    border-bottom: 2px solid grey;
    width: 100%;
}
*/
.comment_section{
    display: inline-block;
    margin-left: 4%;
    margin-top: 2%;
    vertical-align: top;
    max-width: 30%;
}
#post{
    position: relative;
    left: 50px;
    display: inline-block;
}
textarea[name=comment]{
    border: 0px solid black;
    border-bottom: 1px solid black;
    background: unset;
    font-family: 'FontAwesome';
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
input[name='add_comment']{
    height: 45px;
    width: 200px;
    border: 0px solid black;
    margin-left: 5px;
    cursor: pointer;
    background-color: #0066ff;
    color: white;
    font-weight: bold;
    display: inline-block;
}
.main_comment{
    word-break: break-all;
    font-size: large;
    margin-left: 30px;
    font-family: 'Zen Kaku Gothic New Light';
    font-weight: bold;
}
.additional_info{
    font-family: 'centurygothic';
}
.right_first{
    position: absolute;
    left: 855px;
}
.comment_area{
    width: 300px;
    height: 50px;
}
/**
#subscribe{
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#subscribe h2{
    font-family: 'centurygothic';
    text-align: center;
}
#subscribe input[name=sub]{
    display: block;
    height: 50px;
    font-family: 'centurygothic';
    font-weight: 300;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}
#subscribe input[name=sub]:hover{
    background-color: darkred;
    color: white;
    cursor: pointer;
}
#subscribe input[name=subscribe_to_person]{
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'FontAwesome';
}
#latest_posts{
    font-family: 'centurygothic';
}
#latest_posts pre{
    font-size: larger;
    word-break: break-all;
}

#latest_subscribed_to_posts h2{
    font-family: 'centurygothic';
    text-align: center;
}
.post_name{
    font-size: larger;
    font-family: 'centurygothic';
}
.vertical_line2{
    border-left: 3px solid black;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.vertical_line3{
    border-left: 3px solid black;
    height: 200px;
    margin-right: 20px;
}
.all_comments{
    font-size: medium;
}
.comment_area{
    width: 300px;
    height: 100px;
}
.but{
    height: 110px;
    position: relative;
    top: -47px;
}
.same_comment_error{
    position: relative;
    top: -55px;
}
.pad{
    position: relative;
    top: -15px;
}
.person_name{
    margin-left: 10%;
    font-size: smaller;
    font-family: 'FontAwesome';
}
.wrapper{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}
*/
#post_flow{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}
.table_cell{
    margin-left: 5%;
}
#searching_form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
#inp-search-main-page{
    width: 20%;
    height: 5%;
    display: inline-block;

}
#btn-search-main-page{
    width: 5%;
    height: 5%;
    display: inline-block;
}