
#del_avatar{
	width: 150px;
	height: 200px;
	margin-right: 20px;
}
#change_login_but{
	display: inline-block;
	width: 100%;
	height: 45px;
}
input[name=new_login]{
	margin: 2px;
	height: 40px;
	width: 80%;
	margin-left: 20px;
	font-family: 'FontAwesome';
}

#change_info input:hover{
	background-color: darkred;
	color: white;
	font-weight: bold;
}
#first{
	display: inline-block;
}
#second{
	display: inline-block;
}
.notes{
    position: relative;
    left: 50px;
}
#acc_info{
	display: inline-block;
	width: 40%;
	margin-top: 10px;
}
#acc_info h2{
	font-family: 'centurygothic';
	display: inline-block;
	vertical-align: top;
}
#acc_info svg{
	display: inline-block;
}
.vertical_line_2{
	border-left: 2px solid black;
	display: inline-block;
	vertical-align: top;
	height: 500px;
	margin-left: -5%;
	margin-right: 2%;
}
#change_info{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 100px;
}
#change_info h2{
	display: inline-block;
	vertical-align: top;
	font-family: 'centurygothic';
}
#change_info svg{
	display: inline-block;
	vertical-align: top;
}
.change_info i{
	margin-left: 10px;
	width: 20px;
	height: 10px;
}
.horizontal_line{
	border-bottom: 2px solid grey;
	width: 50%;
}
.line_info{
	font-family: 'Zen Kaku Gothic New Light';
	font-size: large;
	text-shadow: 2px;
	text-decoration: underline;
	display: inline-block;
}
.actual_info{
	font-family: 'centurygothic';
	text-decoration: initial;
}
h3{
	font-family: 'centurygothic';
}
.post_info_line{
	font-family: "Evanston Tavern 1826";
	font-size: x-large;
}
.sub_info_blocks{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	width: 70%;
}
.vertical_line{
    display: inline-block;
    border-left: 3px solid black;
    height: 200px;
    margin-right: 20px;
}
.full_avatar{
	display: inline-block;
	vertical-align: top;
}