<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_for_log_in_page.css') }}">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <dialog id="restore_password_dlg">
        <h2>Restore password</h2>
        <input type="text" id="email" placeholder="email">
        <p>or</p>
        <input type="text" id="restore_by_login" placeholder="login">
        <button onclick="cancel('restore_password_dlg');" class="modal_cancel_button">Cancel</button>
        <button onclick="restore()">Send email</button>
        <p id="error"></p>
    </dialog>

    <dialog id="change_session_dlg">
        <h2>Warning</h2>
        <p id="warning_message"></p>
        <button onclick="cancel('change_session_dlg');" class="modal_cancel_button">Cancel</button>
        <button onclick="changeSession()">Ok</button>
    </dialog>

    <div class="container">
        <h1>PronamkaScience</h1>
        <h2>Log In</h2>
        <img src="{{ url_for('static', filename='images/enter.png') }}">
        <p id="near_image">Log in your account to acces all the functions</p>

        <input placeholder="login" type="text"  class="info" id="login" accesskey="l">
        <input placeholder="password" type="password" class="info" id="password" accesskey="p">
        <button id="log_in" onclick="logIn()">Log In</button>

        <a onclick="showRestorePasswordDialog()" href="#">Forgot your password?</a>
        <p id="validation_errors">{{errors}}</p>
    </div>
    <script src="{{ url_for('static', filename='js/js_for_log_in_page.js') }}"></script>
</body>
</html>