<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PronamkaScience</title>
    <link rel='stylesheet' type="text/css" href="{{ url_for('static',  filename='css/styles_for_registration_page.css') }}">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="wrapper_weblogins">
    <div id="logo_container">
        <p>Pronamka's service for joint scintific work</p>
        <p>Lorem ispum</p>
        <ol>
            <li>Post</li>
            <li>Comment</li>
            <li>Lorem ispum</li>
        </ol>
    </div>
    <div class="container">
        <div class="in_content">
            <h2>Create your account</h2>
            <div id="inputs">
                <i class="fa-solid fa-user"></i>
                <input name="login" placeholder="login" type="text" class="info" id="login"><br>
                <i class="fa-solid fa-lock"></i>
                <input name="password" placeholder="password" type="password" class="info" id="password"><br>
                <i class="fa-solid fa-envelope-open"></i>
                <input name="email" placeholder="email" type="email" class="info" id="email"><br>
                <button onclick="sendData();" id="create_account_button">Submit</button>
            </div>
            <p id="validation_errors">{{errors}}</p>

            <p>Already have an account? <a href="/log_in_page">Log in</a></p>
            
        </div>
    </div>
</div>
<script>
    function sendRequest(method, url, body, multipart=false) {
        const headers = {'Content-Type': 'application/json'}
            return fetch(url, {
                method: method,
                body: JSON.stringify(body),
                headers: headers}).then(response => {
                return response.text();
        })
    }
    function sendData(){
        const login = document.getElementById('login').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        if (login == '' | email == '' | password == ''){
            document.getElementById('validation_errors').innerHTML='Please, fill in all the fields.';
            return false;
        }
        else{
            sendRequest('POST', '/register/', 
            {'login': login, 'password': password, 'email': email}).then(resp =>{
                const response = JSON.parse(resp)
                const status = response['status']
                console.log(response['redirect'])
                if (status == 406){
                    document.getElementById('validation_errors').innerHTML=response['errors'];
                }
                else if (status == 300) {
                    alert('We have sent a confirmation email to you. Please, check it.');
                    window.location.replace(response['redirect'])
                }
            })
        }
    }
</script>
</body>
</html>