<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PronamkaScience</title>
    <link rel='stylesheet' type="text/css" href="{{ url_for('static',  filename='css/variables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-free-6.2.0-web/css/all.min.css')}}">
    <link rel='stylesheet' type="text/css" href="{{ url_for('static',  filename='css/styles_for_registration_page.css') }}">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div id="container">
        <div id="container-left-info">
            <div id="info-left-container-wrapper">
                <div>
                    <div id="create-account-icon-wrapper"><i class="fa-solid fa-user-plus"></i></div>
                    <h1 id="company-name">PronamkaScience</h1>
                </div>
                <h2>Create an account</h2>
                <div id="compay-tagline"><h3 id="near_image">Some catchy phrase</h3></div>
                <div id="company-description-wrapper">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit in quidem praesentium commodi expedita id inventore 
                        odit illo perferendis sunt aut, dignissimos ratione ab consequuntur. 
                        Dolorum repudiandae totam ad et?
                    </p>
                </div>
            </div>
        </div>

        <div id="credentials">
            <img src="{{ url_for('static', filename='images/pronamka_logo.png') }}" id="company-logo">
            <h2 id="company-name-mobile">PronamkaScience</h2>
            <input placeholder="login" type="text"  class="info" id="login">
            <input placeholder="password" type="password" class="info" id="password">
            <input placeholder="email" type="email" class="info" id="email">
            <button id="create-account-button">Register</button>
            <p>Already have an account? <a id="log-in-transfer" onclick="window.location.href='/log_in_page'">Log In.</a></p>
            <p id="validation-errors-info"></p>
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/registration_page.js')}}"></script>
</body>
</html>
