<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <input type="text" id="new_password" placeholder="New password">
        <button onclick="restore('{{token}}')">Restore</button>
        <p id="error"></p>
        <script>
            const errors_message = document.getElementById('error')
            const password_inp = document.getElementById('new_password')
            function sendRequest(method, url, body) {
                const headers = {'Content-Type': 'application/json'}
                return fetch(url, {
                    method: method,
                    body: JSON.stringify(body),
                    headers: headers}).then(response => {
                    return response.text()
                })
            }
            function restore(token){
                var new_password = password_inp.value
                sendRequest('POST', '/change_password/', 
                {'new_password': new_password, 'token': token}).then(resp=>{
                    const status = JSON.parse(resp)['status']
                })
            }
        </script>
    </body>
</html>