<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/variables.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/email_pages/restore_password_page.css')}} ">
</head>

<body>
    <div id="page-wrapper">
        <h2>Password Restoration</h2>
        <input type="text" id="new_password" placeholder="New password" class="info">
        <button onclick="restore('{{token}}')" id="restore-password-button">Restore</button>
        <p id="error"></p>
    </div>
    <script>
        const errors_message = document.getElementById('error')
        const password_inp = document.getElementById('new_password')

        function sendRequest(method, url, body) {
            const headers = {'Content-Type': 'application/json'}
            return fetch(url, {
                method: method,
                body: JSON.stringify(body),
                headers: headers}).then(response => {
                return response.text()
            })
        }
        function restore(token){
            var new_password = password_inp.value
            sendRequest('POST', '/change_password/', 
            {'new_password': new_password, 'token': token}).then(resp=>{
                alert(resp)
            })
        }
    </script>
</body>
</html>