body{
    font-family: 'Roboto', 'Noto', sans-serif;
}

#content{
    margin-left: max(30px, 2vw)
}

.content-post-container{
    margin-bottom: 4vh;
}

.post-iframe{
    width: 60%;
    max-width: 550px;
    height: 80vh;
}

.content-post-info{
    display: inline-block;
    vertical-align: top;
    margin-left: 3vw;
    width: 30%;
}

.content-post-info-grid{
    display: grid;
    grid-template-columns: 70% 25%;
}

.post-info-description{
    font-size: large;
}

.post-info-info{
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
}

.post-tags-wrapper{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.post-tags-summary{
    font-size: large;
    cursor: pointer;
}

.post-tag{
    line-height: 20px;
    font-size: large;
    margin-top: 3px;
    margin-bottom: 3px;
}

.post-actions-wrapper{
    margin-top: 10vh;
}

.post-actions-wrapper > button{
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 3px;
    font-size: large
}

.verify-post-button{
    background-color: #00962b;
    color: white;
    margin-bottom: 1vh;
    cursor: pointer;
}

.verify-post-button:hover{
    box-shadow: 2px 4px 10px 0px grey;
}

.examine-post-button{
    background-color: #2b36ff;
    color: white;
    cursor: pointer;
    margin-top: 1vh;
}

.examine-post-button:hover{
    box-shadow: 2px 4px 10px 0px grey;
}

#delete-post-dialog-inner-wrapper{
    text-align: center;
}

#delete-post-info{
    font-size: large;
}

#warning-label{
    color: red;
    display: block;
    font-size: x-large;
    margin-bottom: 2vh;
}

#enter-passord-label{
    font-size: large;
}

#delete-article-user-password-input{
    border: none;
    outline: 1px solid grey;
    border-radius: 7px;
    line-height: 20px;
}

#delete_post_btn{
    border: none;
    background-color: rgb(209, 43, 43);
    border-radius: 3px;
    color: white;
    font-size: large;
    line-height: 20px;
    vertical-align: bottom;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

@media(max-width: 800px){
    .content-post-container{
        width: 65vw;
    }
    .post-iframe{
        width: 85vw;
    }
    .content-post-info{
        display: block;
        width: 100%;
    }
    .post-actions-wrapper{
        width: 80%;
        margin-bottom: 4vh;
    }
    .post-action-label{
        display: none;
    }
    .post-actions-wrapper{
        margin-top: 2vh;
    }
    .post-actions-wrapper > button {
        width: 95%;
        display: block;

        border: none;
        border-radius: 3px;
        font-size: large;
    }
}





#post_page{
    display: inline-block;
}

#post-iframe{
    width: min(70vw, 850px);
    height: 90vh;
    display: inline-block;
}

#post-actions-wrapper{
    display: inline-flex;
    vertical-align: top;
    margin-top: 5vh;
    margin-left: 2vw;
    width: 25vw;
    flex-direction: column;
}

#post-title{
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
}

#post-actions-wrapper > button{
    border: none;
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
    font-size: large;
    padding: 0.25vh 0px 0.25vh 0px;
}

#post-actions-wrapper > button:hover{
    box-shadow: 2px 3px 3px 0px grey;
}

.horizontal-line-separator{
    margin-top: 2vh;
    border-bottom: 1px solid rgb(134, 119, 119);
}


#problem-description-textarea{
    margin-top: 5vh;
    margin-bottom: 1vh;
    border: none;
    border-bottom: 1px solid rgb(49, 49, 49);
    background: transparent;
    font-size: large;
    resize: none;
    height: 23px;
}


#problem-description-textarea:focus-visible{
    outline: none;
}




#verify-post-button{
    background-color: #00962b;
    color: white;
}

#ban-post-button{
    background-color: rgb(209, 43, 43);
    color: white;
}