#log_in_img{
	width: 7%;
	margin-top: 2%;
}
#container{
	display: flex;
	margin-right: auto;
	margin-left: auto;	
	margin-top: auto;
	margin-bottom: auto;
    border: var(--container-border-outside);
    border-radius: 20px;
	width: 70%;
	transform: translateY(50%);
}

#container-left-info {
    margin-right: var(--container-left-info-margin-right);
	padding-top: 2%;
	
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
    border-right: var(--container-border-inside);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
	width: var(--container-left-info-width);
	background-color: var(--info-left-background-color);
}

#info-left-container-wrapper{
	margin-left: 3%;
}

#company-name{
	display: inline-block;
	vertical-align: super;
	margin-left: 2%;
}

#credentials{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 2%;
	align-content: center;
	justify-content: space-evenly;
}

#company-logo{
	width: 20%;
	max-width: 80px;
	border-radius: 10%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1%;
	padding-bottom: 2%;
}

.info{
	width: var(--credentials-input-width);
	height: var(--credenitals-input-height);
	border-radius: 7px;
	background-color: var(--credentials-input-background-color);
	box-sizing: border-box;
	border: none;
	margin-top: 1%;
	text-indent: 3%;
	font-size: large;
	font-family: centurygothic;
	padding-top: 2%;
	padding-bottom: 2%;
}
.info:focus{
	outline: var(--credentials-input-outline);
	box-shadow: 1px 1px 1px ;
}

#log-in-btn{
	width: var(--credentials-input-width);
	height: var(--credenitals-input-height);
	background-color: var(--log-in-button-background-color);
	border: none;
	border-radius: 7px;
	margin-top: 2%;
	color: var(--log-in-button-text-color);
	font-size: large; 
}
#log-in-btn:hover{
	cursor: pointer;
	background-color: var(--log-in-button-hover-background-color)
}

#password-restoration-link{
	font-size: large;
	margin-top: 3%;
	padding-bottom: 3%;
	margin-bottom: 2%;
	color: var(--password-restoration-link-color); 
	text-decoration: none;
	display: block;
}

#password-restoration-link:hover{
	cursor: pointer;
	text-decoration: underline;
}

#company-name-mobile{
	display: none;
}


#change_session_dlg{
	border: var(--password-restoration-dialog-border);
	border-radius: 18px;
}

.session-dlg-buttons{
	border: none;
	background-color: var(--restore-password-button-background-color);
	color: var(--log-in-button-text-color);
	font-size: larger;
	border-radius: 7px;
	cursor: pointer;
	margin-left: 2%;
}

#cancel-session-change-button{
	background-color: var(--cancel-password-restoration-button-background-color);
	color: var(--cancel-password-restoration-button-color);
	margin-left: auto;
}

#session-dlg-buttons-container{
	display: flex;
}

.password-restoration-dialog:not([open]){
	display: none;
}

.password-restoration-dialog{
	border: var(--password-restoration-dialog-border);
	border-radius: 18px;
	min-width: 50%;
}

#password-restoration-credentials{
	display: inline-block; 
	margin-left: 3%;
}

.password-restoration-dialog .password-restoration-credentials-input{
	border: none;
	border-radius: 7px;
	background-color: var(--credentials-input-background-color);
	min-width: 20%;
	text-indent: 2%;
	font-size: larger;
}

#password-restoration-buttons{
	display: flex;
	justify-content: flex-end;
}

#send-password-restoration-email-btn{
	border: none;
	background-color: var(--restore-password-button-background-color);
	color: var(--log-in-button-text-color);
	font-size: larger;
	border-radius: 7px;
	cursor: pointer;
	margin-left: 2%;
}

#cancel-password-restoration-button{
	border: none;
	background-color: var(--cancel-password-restoration-button-background-color);
	color: var(--cancel-password-restoration-button-color);
	font-size: larger;
	border-radius: 7px;
	cursor: pointer;
}

#password-restoration-choice{
	display: inline-block;
}

@media(max-width: 1250px){
	:root{
		--container-left-info: 100%;
		--container-left-info-margin-right: 0%;
	}
	#container{
		flex-direction: column-reverse;
	}
	#container-left-info{
		width: 100%;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 18px;
		border-bottom-right-radius: 18px;
		border-top: var(--container-border-inside);
		border-right: 0px solid grey;
	}
	#credentials{
		width: 100%;
		
		flex-wrap: wrap;
		align-items: center;
	}
	#container{
		transform: none;
	}
	.password-restoration-dialog{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#password-restoration-choice{
		display: block;
	}
	#password-restoration-buttons{
		display: flex;
		margin-top: 2%;
		justify-content: center;
		align-items: center;
	}
}
@media(max-width: 600px){
	#container-left-info{
		display: none;
	}
	#container{
		width: 100%;
		border: none;
	}
	#company-name-mobile{
		display: block;
	}
}