

body{
	font-family: 'Roboto', 'Noto', sans-serif;
}

#create-account-icon-wrapper{
	font-size: xx-large;
	display: inline-block;
	vertical-align: baseline;
	color: rgb(20 57 255);
}

#container{
	display: flex;
	margin-right: auto;
	margin-left: auto;	
	margin-top: auto;
	margin-bottom: auto;
    border: var(--container-border-outside);
    border-radius: 20px;
	width: 70%;
	transform: translateY(50%);
}

#container-left-info {
    margin-right: var(--container-left-info-margin-right);
	padding-top: 2%;
	
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
    border-right: var(--container-border-inside);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
	width: var(--container-left-info-width);
	background-color: var(--info-left-background-color);
}

#info-left-container-wrapper{
	margin-left: 3%;
}

#company-name{
	display: inline-block;
	vertical-align: super;
	margin-left: 2%;
}

#compay-tagline{
	display: block;
	font-style: italic;
	width: fit-content;
}

#company-description-wrapper{
	margin-bottom: 2vh;
	margin-right: 2vw;
	font-size: large;
}

#credentials{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 2%;
	align-content: center;
	justify-content: space-evenly;
}

#company-logo{
	width: 20%;
	max-width: 80px;
	border-radius: 10%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1%;
	padding-bottom: 2%;
}

.info{
	width: var(--credentials-input-width);
	height: var(--credentials-input-height);
	border-radius: 7px;
	background-color: var(--credentials-input-background-color);
	box-sizing: border-box;
	border: none;
	margin-top: 1%;
	text-indent: 3%;
	font-size: large;
	font-family: centurygothic;
	padding-top: 2%;
	padding-bottom: 2%;
}
.info:focus{
	outline: var(--credentials-input-outline);
	box-shadow: 1px 1px 1px ;
}

#create-account-button{
	width: var(--credentials-input-width);
	height: var(--credentials-input-height);
	background-color: var(--log-in-button-background-color);
	border: none;
	border-radius: 7px;
	margin-top: 2%;
	color: var(--log-in-button-text-color);
	font-size: large; 
}
#create-account-button:hover{
	cursor: pointer;
	background-color: var(--log-in-button-hover-background-color)
}

#company-name-mobile{
	display: none;
}

@media(max-width: 1250px){
	:root{
		--container-left-info: 100%;
		--container-left-info-margin-right: 0%;
	}
	#container{
		flex-direction: column-reverse;
	}
	#container-left-info{
		width: 100%;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 18px;
		border-bottom-right-radius: 18px;
		border-top: var(--container-border-inside);
		border-right: 0px solid grey;
	}
	#credentials{
		width: 100%;
		
		flex-wrap: wrap;
		align-items: center;
	}
	#container{
		transform: none;
	}
}
@media(max-width: 600px){
	#container-left-info{
		display: none;
	}
	#container{
		width: 100%;
		border: none;
	}
	#company-name-mobile{
		display: block;
	}
}


#validation-errors-info{
	font-size: larger;
	display: block;
	width: var(--credentials-input-width);
	text-align: center;
}