{% extends 'personal_pages/base.html' %}
{% block title %}{{session.get('login')}}'s page{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/personal_pages/personal_page.css')}}">
<div class="wrapper">
    <div class="notes">
        <dialog id="manage_interests_dlg">
            <h2>Choose new interests</h2>
            <p>
                Click the cross to near the name of the science you want to add to your 
                interests, or the check mark to remove it from interests.
                When you add a subsection of a science, all parent sciences are 
                also added to your interests.
            </p>
            <div id="interests-and-descriptions-wrapper">
                <div id="all_interests"></div>
                <div id="science-description-wrapper">
                    <p id="science-description">A short description of a science will appear here when you hover over it.</p>
                </div>
            </div>
            <div id="manage-interests-dlg-buttons-wrapper">
                <button onclick="document.getElementById('manage_interests_dlg').close()" id="close-manage-interests-dlg">Cancel</button>
                <button onclick="sendInterestsChanges()" id="send_interests_btn">Update Interests</button>
            </div>
        </dialog>
        <div id="interests-section">
            <div id="interests-section-inner-wrapper">
                <div id="interests-use-information">
                    <h2>Interests</h2>
                    <p>
                        <em>
                            We use interests to recommend you more personalized content.
                            They affect posts you get on the main page as well as the 
                            search results.
                        </em>
                    </p>
                </div>
                <div id="manage-interests-wrapper">
                    <div id="interests_list"></div>
                    <button onclick="chooseInterest()" id="manage_interests_btn">Manage</button>
                </div>
            </div>
        </div>
        <div id="avatar_settings">
            <div id="avatar-settings-outer-wrapper">
                <h2>Avatar</h2>
                <div id="avatar-settings-inner-wrapper">
                    <div id="avatar"></div>
                    <div id="change-avatar-wrapper">
                        <label for="avatar_file" class="avatar-file-label">
                            Choose File
                        </label>
                        <p id="new-avatar-filename">No file selected.</p>
                        <input type="file" placeholder="Choose a picture" 
                        id="avatar_file" accept="image/jpeg, image/jpg, image/png"
                        onchange="displayFilename()">
                        <p style="font-size: large; margin-left: 2vh;">
                            <em>Warning! Pictures can only be in .jpg, .png, .jpeg</em>
                        </p>
                    </div>
                </div>
                <button onclick="sendAvatar()" id="send_avatar">Send</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/js_for_all.js') }}"></script>
<script src="{{ url_for('static', filename='js/personal_page.js') }}"></script>
{% endblock %}