{% extends 'personal_pages/base.html' %}
{% block title %}{{ location }}{% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width">
<main role="main">
    <article>
    <div id="post_page">
        <div id="post">
            <p>{{errors2}}</p>
            <iframe src="{{ url_for('static', filename= post.get_path) }}" width="800px" height="1100px"></iframe>
        </div>
        <div class="comment_section">
            <div id="author_info">
                <img src="{{ url_for('static', filename= post.get_author_avatar) }}" class="avatar">
                <h2 id="author_login">{{ post.get_author }}</h2>
                <button id="subscribe-btn" onclick="change_subscriptions()">Subscribe</button>
            </div>
            <div id="leave_comment">
                <textarea placeholder="Your comment" id="comment"></textarea>
                <button id="send_comment_btn" onclick="sendComment('{{post.get_id}}');">
                <p style="font-family: 'Evanston Tavern 1826'; color: red; font-size: large;">{{errors}}</p>
            </div>
            <p>Comments:</p>
            <div class="horizontal_line2"></div>
            <div>
                <div id="comments_dv"></div>
                <button onclick="loadComments()" id="load_comments_btn">See more</button>
            </div>
        </div>
    </div>
    </article>
</main>
<script>
    const comment = document.getElementById('comment')
    const load_comments_btn = document.getElementById('load_comments_btn')
    const post_id = '{{post.get_id}}'
    const author_id = '{{post.get_author_id}}'
    const settings = {'page': 'view_post_page', 
                      'post_id': post_id, 
                      'comments_loaded': 0, 
                      'comments_required': 5, 
                      'of_user': 0}
    document.addEventListener('DOMContentLoaded', loadComments())
    
    function sendRequest(method, url, body) {
        const headers = {'Content-Type': 'application/json'}
        return fetch(url, {
            method: method,
            body: JSON.stringify(body),
            headers: headers}).then(response => {
            return response.text()
        })
    }
    class subscribeButton{
        constructor(button_item){
            this.button = button_item
            this.status = this.defineStatus()
            this.states = {'subscribed': {'action': 0, 'status': 'unsubscribed'}, 
                      'unsubscribed': {'action': 1, 'status': 'subscribed'}}
        }
        defineStatus(){
            const protocols = {'True': 'subscribed', 'False': 'unsubscribed'}
            var current_status = "{{ post.get_author_id in current_user_follows }}"
            this.setStyleSheet(protocols[current_status])
            return protocols[current_status]
        }
        changeStatus(){
            const new_status = this.states[this.status]['status']
            sendRequest('POST', '/change_subscriptions/', 
            {'author_id': author_id, 'action': this.states[this.status]['action']}).then(resp => {
                this.setStyleSheet(new_status)
                this.status = new_status
            })
        }
        setStyleSheet(style_sheet_name){
            const styles = {'unsubscribed': {'b_c': 'red', 't_c': 'white', 't': 'Subscribe'},
                      'subscribed': {'b_c': 'grey', 't_c': 'white', 't': 'Subscribed'}}
            this.button.style.backgroundColor = styles[style_sheet_name]['b_c']
            this.button.style.color = styles[style_sheet_name]['t_c']
            this.button.firstChild.data =styles[style_sheet_name]['t']
        }
    }
    const subscribe_btn = new subscribeButton(document.getElementById('subscribe-btn'))
    function change_subscriptions(){
        subscribe_btn.changeStatus()
    }

    function sendComment(post_id){
        sendRequest('POST', '/comment/', {'post_id': post_id, 
        'comment_text': comment.value}).then(resp=>{})
    }

    function loadComments(){
        sendRequest('POST', '/load_info/', settings).then(resp=>{
            comments_dict = JSON.parse(resp)
            settings['comments_loaded'] += settings['comments_required']
            buildComments(comments_dict['latest_comments'])
        })}
    
    function buildComments(comments){
        const comment_amount = Object.keys(comments).length-1
        for (var i=0, l=comment_amount; i<=l; i++){
            var new_comment = new Comment(comments[i])
            addComment(new_comment)
        }
        if (comment_amount < 4){
            load_comments_btn.remove()
        }
    }
    function addComment(comment){
        html = `<div class="comment">
            <em>`+comment.author+`, at `+comment.date+`</em>
            <p>`+comment.text+`</p>
            </div>`
        insertHTML('#comments_dv', html)
    }
    class Comment{
        constructor(comments_item){
            this.comment_author = comments_item['author'];
            this.creation_date = comments_item['date'];
            this.comment = comments_item['text'];
        }
        get allValues(){
            return (this.author, this.creation_date, this.text);
        }
        get author(){
            return this.comment_author
        }
        get date(){
            return this.creation_date
        }
        get text(){
            return this.comment
        }
        
    }
    function insertHTML(direction, html) {
        const tab = document.querySelector(direction);
        var template = document.createElement('template');
        html = html.trim(); // Never return a text node of whitespace as the result
        template.innerHTML = html;
        tab.appendChild(template.content);
        return template.content.firstChild;
    }
    
</script>
{% endblock %}