{% extends 'personal_pages/base.html' %}
{% block title %}{{ location }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/personal_pages/post_page.css') }}">
<div id="post-page">
    <div id="post-wrapper">
        <iframe src="{{ url_for('static', filename= post.get_path) }}" id="post-iframe"></iframe>
    </div>
    <div id="page-information-wrapper">
        <div id="author_info">
            <img src="{{ url_for('static', filename= post.get_author_avatar) }}" id="author-avatar">
            <div id="author-subscribe-wrapper">
                <h2 id="author-login">{{ post.get_author }}</h2>
                <p id="subscribers-amount">{{ post.get_subscribers_amount }} subscribers</p>
                <button id="subscribe-btn" onclick="change_subscriptions()">Subscribe</button>
            </div>
        </div>
        <div id="post-information-wrapper">
            <h2 id="post-title">{{ post.title }}</h2>
            <p id="views-amount">{{ post.views_amount }} views</p>
            <button id="like-btn" onclick="like_btn.changeStatus()"></button>
            <p><em>{{ post.made_ago_str }}</em></p>
        </div>
        <div id="leave_comment">
            <textarea placeholder="Your comment" id="comment-input"></textarea>
            <button id="send_comment_btn" onclick="sendComment('{{post.get_id}}');">
                Send Comment
            </button>
        </div>
        <div id="all-comments">
            <div id="comments_dv"></div>
            <button onclick="loadComments()" id="load-comments-button">See more</button>
        </div>
    </div>
</div>
<script>
    const post_id = '{{post.get_id}}'
    const author_id = '{{post.get_author_id}}'
    var likes_amount = Number('{{ post.likes_amount }}')
    var views_amount = Number('{{ post.views_amount }}')
    var subscribers_amount = Number('{{ post.get_subscribers_amount }}')
    var is_liked = "{{ liked }}"
    var is_subscribed = "{{ is_subscribed }}"
</script>
<script src="{{ url_for('static', filename='js/post_page.js') }}"></script>
{% endblock %}