{% extends "base.html" %}
{% block title %}{{login}}'s page{% endblock %}
{% block content %}
    <meta name="viewport" content="width=device-width">
    <main role="main">
        <article>
            {% if location!=None %}
                <div id="post_page">
                    <div id="post">
                        <p>{{errors2}}</p>
                        <iframe src="{{ url_for('static', filename= location) }}" width="800px" height="1100px"></iframe>
                    </div>
                    <div class="comment_section">
                        <div id="leave_comment">
                             <form action="/private/{{login}}/leave_comment" method="post">
                                 <textarea placeholder="Your comment" name="comment"></textarea>
                                 <input type="submit" value="Send" name="add_comment">
                             </form>
                            <p style="font-family: 'Evanston Tavern 1826'; color: red; font-size: large;">{{errors}}</p>
                        </div>
                        <p>All comments:</p>
                        {% for i in comments %}
                        <div class="horizontal_line2"></div>
                            <p class="additional_info">{{i['login']}}</p>
                            <p class="main_comment">{{i['comment']}}</p>
                        {%endfor %}
                    </div>
                </div>
            {% else %}
                <div class="wrapper">
                    <div class="notes">
                        <div id="latest_subscribed_to_posts">
                            <p>{{errors2}}</p>
                            <h2>Latest post of every <br>
                                person you are subscribed to:</h2>
                                {% for one_post in all_subbed_to_posts %}
                                    <object class="table_cell">
                                        <iframe src="{{ url_for('static', filename= '/upload_folder/' + one_post.split(' by')[0]) }}"
                                                width="150px" height="200px" id="preview"></iframe>
                                    </object>
                                    <div class="for_preview">
                                        <p class="post_name">
                                        <a href="{{ url_for('render_post_page', login=login, post_name=one_post.split(' by')[0], _external=True) }}">
                                            {{ one_post.split(' by')[0] }}</a></p><br><p class="person_name">by {{ one_post.split(' by')[1] }}</p>
                                    </div>
                                {% endfor %}
                            <p style="font-size: x-large; font-family: 'Evanston Tavern 1826'">{{ no_posts }}</p>
                        </div>
                        <div id="latest_subscribed_to_posts_little_screen">
                            <p>{{errors2}}</p>
                            <h2>Latest post of every <br>
                                person you are subscribed to:</h2>
                            {% for one_post in all_subbed_to_posts %}
                                <object class="table_cell">
                                    <p><iframe src="{{ url_for('static', filename= '/upload_folder/' + one_post.split(' by')[0]) }}"
                                               width="200px" height="300px" id="preview_little_screen" align="bottom"></iframe>
                                        <br>
                                        <a href="{{ url_for('render_post_page', login=login, post_name=one_post.split(' by')[0], _external=True) }}"
                                           class="post_name">
                                            {{ one_post.split(' by')[0] }}</a><br><i class="person_name1">by {{ one_post.split(' by')[1] }}</i></p>
                                </object>
                            {% endfor %}
                            <p style="font-size: x-large; font-family: 'Evanston Tavern 1826'">{{ no_posts }}</p>
                        </div>
                        <div class="vertical_line2"></div>
                        <div id="subscribe">
                            <h2>Subscribe to:</h2>
                            <form method="post" action="/private/{{login}}/subscribe">
                                <input type="text" placeholder="Username" name="subscribe_to_person"><br>
                                <input type="submit" value="Subscribe" name="sub">
                            </form>
                        </div>
                        <div class="vertical_line3"></div>
                        <div id="latest_posts">
                            <p>{{errors2}}</p>
                            <h2>Latest 20 posts</h2>

                                {% for post in posts %}

                                        <p class="all_comments1"><a href="{{ url_for('render_post_page', login=login, post_name=post['title'], _external=True) }}">{{post['title']}} </a><br><i>by {{post['login']}} on {{post['date']}}</i></p>

                                {% endfor %}

                        </div>
                    </div>
            </div>
        {% endif %}
        </article>
    </main>
{% endblock %}
