{% extends 'personal_pages/base.html' %}
{% block title %}{{session.get('login')}}'s page{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/personal_pages/styles_for_subscription_page.css')}}">
<div class="wrapper">
    <div class="notes">
        <p>{{errors2}}</p>
        <div id="post_flow">
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/scripts_for_subscription_page.js')}}"></script>
{% endblock %}