body{
    font-family: 'Roboto', 'Noto', sans-serif;
    user-select: none;
    background-color: var(--info-left-background-color);
}

#page-wrapper {
    font-size: larger;
    font-family: 'Roboto', 'Noto', sans-serif;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    outline: var(--container-border-outside);
    border-radius: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    transform: translateY(50%);
    text-align: center;
    background: white;
}

#restore-password-button{
    width: 100%;
    border: none;
    border-radius: 7px;
    font-size: large;
    background-color: var(--log-in-button-background-color);
    color: var(--log-in-button-text-color);
    cursor: pointer;
    padding-top:0.25vh;
    padding-bottom: 0.25vh;
}

#restore-password-button:hover{
    background-color: var(--log-in-button-hover-background-color);
}
.info{
    width: 100%;
    height: var(--credenitals-input-height);
    border-radius: 7px;
    background-color: var(--credentials-input-background-color);
    box-sizing: border-box;
    border: none;
    margin-top: 1%;
    text-indent: 3%;
    font-size: large;
    font-family: centurygothic;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2vh;
}

.info:focus{
    outline: var(--credentials-input-outline);
    box-shadow: 1px 1px 1px ;
}