<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ location }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_for_admin_page.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>
    <meta name="viewport" content="width=device-width">
    <main role="main">
        <article>
            <div id="post_page">
                <div id="post">
                    <iframe src="{{ url_for('static', filename= post.get_path) }}" id="post-iframe"></iframe>
                </div>
            </div>
            <div id="post-actions-wrapper">
                <h2 id="post-title">{{post.title}}</h2>
                <button onclick="verifyPost('{{post.get_id}}');" id="verify-post-button">Verify</button>
                <div class="horizontal-line-separator"></div>
                <textarea placeholder="Problem description" id="problem-description-textarea"></textarea>
                <button onclick="banPost('{{ post.get_id }}');" id="ban-post-button">Ban</button>
            </div>
        </article>
    </main>
    <script src="{{ url_for('static', filename='js/js_for_all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/examine_post.js') }}"></script>
</body>
</html>